* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    border: none;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/*body {*/
    /*background: #f0fcff;*/
    /*font-size: 12px;*/
/*}*/

.wrapper {
    background: #f0fcff;
    font-size: 12px;
}

.main {
    width: 485px;
    border: 1px solid #d4d4d4;
    margin: 5px auto;
}

.tab {
    width: 485px;
    height: 44px;
    border-bottom: 1px solid #d4d4d4;
    background: url("images/tab_bg.gif") repeat-y -490px 0;
}

.tab li {
    width: 25%;
    float: left;
}

.more {
    width: 25%;
    float: right;
}



